<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>サイト</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
  <div class="site_title">
    <h1>サイトタイトル</h1>
  </div>

  <div class="container">
    <%- body %>
  </div>
</body>
